body {
  font-family: Tahoma, Verdana, "Lucida Sans Unicode", sans-serif;
  font-size: 13px;
  background-color: #FEFDEB;
}

.entry {
  font-size: 1.35rem;
  color: maroon;
}

.grammar {
  margin-left: 0.7rem;
  color: brown;
}

dd {
  color: #0e337e;
  line-height: 1.5rem;
}

ol {
  padding-left: 0;
}

span.ref {
  font-size: 0.7rem;
  font-weight: lighter;
  color: gray
}

a.ref {
  text-decoration:none;
  border-bottom: 1px gray dotted;
  font-size: 0.7rem;
  font-weight: lighter;
  color: gray
}

i.term {
  font-style: italic;
  font-weight:100;
  color: #0e337e;
}

.linkTerm {
  text-decoration:none;
  border-bottom: 1px maroon dotted;
  font-style: normal;
  color: maroon;
}

.subTitle {
  margin: 2rem 0.7rem 0 0.7rem;
}

.subTitle:first-child {
  margin-top: 1rem;
}

.subTitle > .word {
  border-radius: 0.2rem;
  background-color: maroon;
  padding: 0.15rem 0.3rem;
  color: white;
}

.text > dd {
  margin: 0 1.5rem 0rem 1.5rem;
}
dd > ol {
  margin: 0 0.5rem 0rem 0.5rem;
}

ol.decimal {
  margin-left: 1.3rem;
}

dd > ol > li {
  margin-top: 1rem;
}

br {
  margin-bottom: 1rem;
}

.eti {
  border: 1px dotted gray;
  padding: 0 0.5rem 0.2rem 0.5rem;
  border-style: dotted;
  margin: 0;
}

.eti::before {
  content: "Etymology";    
  display: block;
  color: gray;
  font-size: 0.7rem;
}

.compounds {
  list-style: none;
  padding: 0 0.5rem 0.2rem 0.5rem;
  margin: 1.3rem 0;
  border: 1px dotted gray;
}

.compounds::before {
  content: "Compounds";    
  display: block;
  color: gray;
  font-size: 0.7rem;
}

.compounds > li {
  margin-top: 0.5rem;
}

.compounds > li > i.term {
  color: maroon;
}
