body {
  font-family: Tahoma, Verdana, "Lucida Sans Unicode", sans-serif;
  font-size: 13px;
  background-color: #fffef2;
}

.entry {
  font-size: 1.2rem;
  color: maroon;
}

.type {
  color: brown;
  margin-left: 0.7rem;
  font-size: small;
  display: inline-block;
}

.definition {
  margin: 0 0;
  padding: 1.2rem 1.5rem;
  color: #008080;
  line-height: 1.5rem;
}
