.word {
  font-size: 18px !important;
  color: maroon;
}

.type {
  margin-left: 10px;
  font-size: small;
  color: rgb(245, 26, 216);
}

i {
  color:rgb(245, 26, 216);
}

dd {
  margin: 0 20px;
}

dt {
  margin-left: 20px;
  font-style: italic;
  color: maroon;
  display: inline-block;
}

dt > sup {
  color: rgb(245, 26, 216);
  margin-left: 3px;
}

p {
  color: rgb(3, 113, 133);
  border-radius: 8px;
  border: 1px solid rgb(3, 113, 133);
  padding: 15px;
  background-color: #FDE6E0;
  margin-top: 5px;
  font-size: 14px !important;
  line-height: 25px;

}

.google-maps {
  display: none;
}

.info {
  display: none;
}

.text .ref {
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  font-weight: lighter;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 3px;
  color: gray
}


