body {
  font-family: Tahoma, Verdana, "Lucida Sans Unicode", sans-serif;
  font-size: 13px;
  background-color: #FEFDEB;
}

.entry {
  font-size: 1.2rem;
  color: maroon;
}

.type {
  color: brown;
  margin-left: 0.7rem;
  font-size: small;
  display: inline-block;
}

i {
  color:brown;
  font-style: normal;
}

dd {
  margin: 0 1.5rem;
}

dt {
  margin: 0 0 0.5rem 0.7rem;
  font-style: normal;
  display: inline-block;
  font-size: 0.95em;
  border-radius: 0.2em;
  background-color: maroon;
  padding: 0.15rem 0.3rem;
  color: white;
}

p {
  color: #008080;
  border: 1px dotted gray;
  padding: 1em;
  /* background-color: #FDE6E0; */
  font-size: 1em !important;
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.7em;
}

.google-maps {
  display: none;
}

.info {
  display: none;
}

.ref {
  text-decoration: none;
  /* border-bottom: 1px maroon dotted; */
  display: inline-block;
  font-size: 0.8em;
  font-weight: lighter;
  color: gray
}